name = "gac-truyen-lu-backend"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "gac-truyen-lu-db"
database_id = "816462a4-93a8-4a50-b16c-da9f04c56c8a" # This will be auto-replaced by deploy tool
